[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ansible = "==5.2.0"
molecule = "==3.5.2"
docker = "==5.0.3"
ansible-lint = "==5.3.2"
molecule-docker = "==1.1.0"

[requires]
python_version = "3.9"
