[Unit]
Description=go replay
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
EnvironmentFile=/etc/default/gor
ExecStart=/bin/sh -c "{{ gor_bin_dir }}/gor ${GOR_INPUT} ${GOR_OUTPUT} ${GOR_OPTIONS}"
User={{ gor_user }}
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
