[Unit]
Description=go replay
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
EnvironmentFile=/etc/default/goreplay
ExecStart=/bin/sh -c "{{ goreplay_bin_dir }}/goreplay ${GOR_INPUT} ${GOR_OUTPUT} ${GOR_OPTIONS}"
User={{ goreplay_user }}
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
